<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>医疗系统-资讯详情</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../element/element-ui-2.14.1.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
    <div id="myApp" class="main" v-cloak>
        <navmenu></navmenu>
        <div class="pageBreadcrumbBox">
            <breadcrumb :breadcrumblist="breadcrumblist"></breadcrumb>
        </div>
        <div class="pageTabsBody">
            <div class="pageTabsBox">
                <div
                    class="pageTabsItem"
                    :class="{'active':activeIndex == index}"
                    v-for="(item,index) in tabs"
                    :key="index"
                    @click="checkType(index)">
                    {{item.name}}
                </div>
            </div>
        </div>
        <div class="contentBody">
            <div class="contentLeft">
                <companyinfo v-if="activeIndex == 0" :data="companyData"></companyinfo>
                <companymedicinelist v-else-if="activeIndex == 1" :data="companyData"></companymedicinelist>
                <companylicense v-else-if="activeIndex == 2" :data="companyData"></companylicense>
            </div>
            <div class="contentRight">
                <companyside></companyside>
            </div>
        </div>
        <pagefooter></pagefooter>
    </div>
</body>
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script> 
<script src="http://api.map.baidu.com/api?v=2.0&ak=exKldCvfrnSWrSFw8l6GheAyPlkRwVph"></script>
<script src="../js/rem.js"></script>
<script src="../js/vue-2.6.11.js"></script>
<script src="../element/element-ui-2.14.1.js"></script>
<script src="../js/axios.min-0.21.0.js"></script>
<script src="../js/request.js"></script>
<script src="../js/unit.js"></script>
<script src="../components/navmenu.js"></script>fo.js"></script>
<script src="../components/companymedicinelist.js"></script>
<script src="../components/companylicense.js"></script>
<script src="../components/breadcrumb.js"></script>
<script src="../components/companyside.js"></script>
<script>
    const myApp = new Vue({
        el: '#myApp',
        data() {
            return {
                breadcrumblist:[
                    {name:'医药',link:'./companyHouse.html'},
                    {name:'产品库',link:'./companyHouse.html'},
                    {name:'化学药品',link:'./companyTypeDetail.html'},
                    {name:'地奥集团成都药业股份有限公司'},
                ],
                tabs: [
                    {name:'公司简介',id:'1'},
                    {name:'产品目录',id:'2'},
                    {name:'企业证照',id:'3'},
                ],
                activeIndex: 0,
                companyData: {}
            }
        },
        methods: {
            checkType(index) {
                if(!getUrlParam('tab') && getUrlParam('tab')!==0){
                    location.href += `&tab=${index}`
                }else{
                    location.href = location.href.replace(/tab=./,`tab=${index}`)
                }
                // location.href = `${getUrl()}?tab=${index}`
            },
            getCompanyDetail(){
                postCompanyDetail(getUrlParam('id')).then(res => {
                    this.companyData = res.data.data
                })
            }
        },
        mounted() {
            this.activeIndex = getUrlParam('tab') || 0
            this.breadcrumblist[2].name = decodeURI(getUrlParam('catalogName'))
            this.breadcrumblist[2].link += `?catalogName=${decodeURI(getUrlParam('catalogName'))}`
            this.breadcrumblist[3].name = decodeURI(getUrlParam('name'))
            if(getUrlParam('enter') === 'index'){
                this.breadcrumblist = [
                    {name:'首页',link:'./index.html'},
                    {name:decodeURI(getUrlParam('name'))},
                ]
            }
            this.getCompanyDetail()
        }
    })
</script>
</html>
<style>
.contentBody{
    margin: 5rem auto ;
    width: 114rem;
    min-height: 50rem;
    display: flex;
    justify-content: space-between;
}
.contentLeft{
    width: 82rem;
    flex-shrink: 0;
}
.contentRight{
    width: 28rem;
    flex-shrink: 0;
}
</style>